 @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@800&family=Outfit:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    min-height: 100vh;
    justify-content: center;
}

.dance {
    border-radius: 2rem 2rem 0 0;
}
main {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    max-width: 450px;
    min-height: 100%;
    border-radius: 2rem;
}
h1 {
    color: hsl(223, 47%, 23%);
    font-weight: 800;
    font-size: 1.7rem;
}
.you {
    line-height: 150%;
    font-size: 1.2rem;
    color: hsl(223, 39%, 37%);
}
.price {
    font-weight: 400;
}
.order {
    text-align: center;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
}
.annual {
    background-color: hsl(225, 100%, 98%);
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 150px 200px;
    justify-content: space-between;
    border-radius: 20px;
    align-content: center;
    padding-left: 20px;
}
.ch {
    margin-top: 30px;
}
body {
    background-color: aliceblue;
}
.top {
    margin: 1rem auto; 
    margin-bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 10px 30px 15px hsla(245, 91%, 82%, 0.359);
}
a {
    color: hsl(245, 75%, 52%);
}
.bottom {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    border: none;
    background-color: transparent;
    color: hsl(223, 57%, 39%);
    font-size: 1.5rem;
    font-weight: 700;
}
button:hover {
    background-color: rgb(122, 155, 70);
}
/* desktop design */
@media only screen and (min-width: 600px) { 
    body {
        background-image: url(/images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
}